// remove defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: rgb(74, 69, 97);
}

body {
  font-family: "Amatic SC", cursive;
}

.App {
  transition: all 0.5s ease;
  height: 100vh;
}

.library-active {
  margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
